.test {
  height: 90vh;
  width: 90vw;
  background: #ff5b5b;
  overflow: scroll;
  margin: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scroll-snap-type: y mandatory;
}
.test::-webkit-scrollbar {
  display: none;
}

.main {
  background-image: url("../assets/veggie_pattern.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.title {
  margin: auto;
  height: 100%;
  width: 90%;
  object-fit: contain;
  display: block;
  scroll-snap-align: center;
}

.test {
  position: fixed; /* make sure it stays put so we can see it! */
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
